<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
    <title>Contato</title>
</head>
<body background="../static/imagens/fundo2.png" id="margem">
    <header class="margemLogo">
        <span>
            <img src="../static/imagens/logo.png" alt="Logo UNES UNIVERSIDADE"> 
        </span>
        <span class="colcoarparaDireita">
            <a href="/">Home</a> <span>|</span>
            <a href="quemSomos">Quem Somos</a> <span>|</span>
            <a href="contato">Contato</a>
        </span>
    </header>
    <div>
        <section>
            <h1>Entre em contato</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </section>
        <hr>
        <form action="">
        Seu Email: <br>
        <input type="text" id="txtemail" name="email"> <br>
        Assunto: <br>
        <input type="text" id="txtassunto" name="descricao"> <br>
        Descrição: <br>
        <textarea name="descricao" id="txtdescricao" cols="19" rows="2"></textarea> <br>
        <input type="submit" value="">
        </form>
        <footer class="rodape">
            Todos os direitos reservados
        </footer>
    </div>
   
</body>
</html>